/* ----------------dark mode classes --------------------- */

.dark-mode {
  background-color: var(--color-grey-0);
  color: var(--color-grey-8);
}

.dark-mode__background--grey1, #top > .dark-mode__background--grey1{
  background-color: var(--color-grey-1);
}

.display__price-container > .dark-mode__background--grey2 {
  background-color: var(--color-grey-2);
}

.dark-mode__text--grey5 {
  color: var(--color-grey-5); 
}

.dark-mode__text--grey5:hover {
  color: var(--color-grey-9);
}

.dark-mode__text--grey4 {
  color: var(--color-grey-4); 
}

.dark-mode__text--grey3 {
  color: var(--color-grey-3); 
}

#genre-filter > ul > .dark-mode__filter-button{
  background-color: var(--color-grey-1);
  border: solid 2px var(--color-grey-1);
  color: var(--color-grey-3);
}

#genre-filter > ul > .dark-mode__selected, #genre-filter > ul > .dark-mode__filter-button:hover {
  color: var(--color-grey-9);
  border: solid 2px var(--color-grey-9);
}
